[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "web"

[services.variables]
PORT = "8080"
PYTHON_VERSION = "3.11"

[[services.ports]]
port = 8080
handlers = ["http"]
